# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build outputs
dist/
out-tsc/
.angular/cache/

# IDEs
.idea/
.vscode/*
!.vscode/extensions.json
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Vercel
.vercel
